.player-icon {
  cursor: pointer;
  float: left;
  margin-right: 10px;
}
.clickable {
  cursor: pointer;
}
.ads-container {
  margin:0px 0px 20px 0px;
  padding:0px;
}
.ads {
  width:100%;
  height:auto;
}
.top-ads {
  width: 60% !important;
}
.badge {
  color: #007177 !important;
}
.grey {
  color: #606060;
}
.signup-modal-header {
    padding: 0px !important;
    height:50px;
}
.signup-modal-body{
  padding-top: 0px !important;
}
.tab-content {
  padding-top: 0px !important;
}
.signinup {
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
}
.teal {
    color: #007177 !important;
}
